package ui

templ UploadPage() {
	<h1>Upload .srt File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="srtFile" accept=".srt">
        <button type="submit">Upload</button>
    </form>
}
